/* #main-body{
    width: 100%;
    max-width: 1270px;
    margin: 0 auto 60px;
    margin-top:100px;
}
#services{
    height: 250px;
    width: 100%;
    gap: 25px;
    overflow: hidden;
    display: flex;
}
#services #option{
    height: 104%;
    width: 100%;
    position: relative;
    border-radius: 15px;
    justify-content: space-evenly;
}
#services #option #img{
    height: 100%;
    width: 100%;
    border-radius: 1 5px;
    size: 20px;


}
#option #img img{
    /* height: 100%; */
    /* width: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: bottom center;
}
#info{
    position: absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    border: 3px solid #eee;
    padding: 15px 20px;
    border-radius: 0 0 13px 13px;
    line-height: 30px;
}
#info h2{
    color: #363636;
    font-size: 22px;
    font-weight: 600;

}
#info p{
    color: #4f4f4f;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */ 
